{
    "Params": {
        "DevMode": {
            "Instrumentation": {
                "command": "",
                "env": {
                    "BLUEMIX_APP_MGMT_ENABLE": "devconsole+shell+inspector",
                    "NODE_ENV": "development"
                },
                "memory": "256M"
            },
            "Packager": "com.ibm.perfectstorm.cloudoe.packager.LiveEditDeploymentPackager"
        },
        "Name": "VitalyLandscapes",
        "Target": {
            "Org": "info_org12345678910111213141516171819202122232425262728293031323334",
            "Space": "dev",
            "Url": "https://api.eu-gb.bluemix.net"
        },
        "Timeout": 60
    },
    "Path": "",
    "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
    "Type": "Cloud Foundry"
}